.header{
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}
.header__navbar{
    display: flex;
    justify-content: space-between;


}

.header__navbar-list{
    list-style: none;
    padding-left: 0;

}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--dow:hover .header__qr{
    display: block;
}

.header__navbar-item--bold{
    font-weight: 400 !important;
}
.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 3px;

}

.header__navbar-item,
.header__navbar-icon-link{
    font-size: 1.34rem;
    color: var(--white-color);
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
}

.header__notification:hover .header__notifi{
    display: block;
    animation: fadeIn ease-in 0.3s;

}


.header__navbar-icon-link:hover,
.header__navbar-item:hover{
    color: #dad7d7;
    cursor: pointer;
}


.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ff7f74;
    height: 14px;
    right: -9px;
    top:50%;
    transform:translateY(-50%);

}

.header__navbar-no-pointer{
    cursor: text;
    
}

/* Header QR CODE */

.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    padding:2px;
    margin-top: 8px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top:-14px;

}



.header__qr-img{
    width: 100%;

}

.header__qr-app{
    display: flex;
    justify-content: space-between;
    margin: 0 11px;

}

.header__qr-link{
    

}

.header__qr-dow{
    height: 17px;
    
}

.header__notifi{
    background-color: var(--white-color);
    position: absolute;
    top: 140%; 
    width: 402px;
    right: 0;
    display: none;
    animation: fadeIn ease-in 0.3s;
    
}


.header__notifi::before{
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    border-width: 20px 25px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    
}

.header__notifi::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
    width: 85px;
    height: 20px;
}

.header__notifi-show{
    height: 352px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__notifi-show--unlogin{
    text-align: center;
    
}
 
.header__notifi-show-img{
    width: 25%;

}

.header__notifi-show-li{
    color: #000;
    text-align: center;
}

.header__notifi-bt{
    display: flex;
    background-color: #eeebeb;
    font-size: 1.45rem;
}

.header__notifi-bt > div > a:hover,
.header__notifi-active:hover,
.header__notifi-login:hover{
    color: #f53d2d;
    background-color:#dad7d7;
}

.header__notifi-bt > div {
    flex-grow: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.header__notifi-bt > div > a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 70px;
}


/* Authen modal */

.auth-form__container{
    padding:0 30px 30px 30px;
}


.container{


}